{% extends "base.html" %}

{% block title %}
Cadastro de Empréstimo
{% endblock %}

{% block content %}

<main class="emprestimo-main">

    <section class="emprestimo-card">

        <h2>CADASTRO DE EMPRÉSTIMO</h2>

        <form action="/cadastro-emprestimo" method="POST">

            <div class="campo">
                <label>ID Leitor:</label>
                <input
                    type="number"
                    name="leitor_id"
                    required
                >
            </div>

            <div class="campo">
                <label>ID Livro:</label>
                <input
                    type="number"
                    name="livro_id"
                    required
                >
            </div>

            <div class="botoes-emprestimo">

                <button type="reset">
                    Cancelar
                </button>

                <button type="submit">
                    Salvar
                </button>

            </div>

        </form>

    </section>

</main>

{% endblock %}