{% extends "base.html" %}

{% block title %}
Cadastro de Livro
{% endblock %}

{% block content %}

<main class="livro-main">

    <div class="livro-card">

        <h2>CADASTRO DE LIVRO</h2>

        <form>

            <div class="campo">
                <label>Título:</label>
                <input type="text">
            </div>

            <div class="campo">
                <label>Autor:</label>
                <input type="text">
            </div>

            <div class="campo">
                <label>Categoria:</label>
                <input type="text">
            </div>

            <div class="campo">
                <label>ISBN:</label>
                <input type="text">
            </div>

            <div class="campo">
                <label>Quantidade:</label>
                <input type="number">
            </div>

            <label for="capa" class="upload">
                Faça o upload da capa +
            </label>

            <input id="capa" type="file" hidden>

            <div class="botoes-livro">

                <a href="/index">
                    <button type="button">Cancelar</button>
                </a>

                <button type="submit">Salvar</button>

            </div>

        </form>

    </div>

</main>

{% endblock %}