{% extends "base.html" %}

{% block title %}
Detalhes do Leitor
{% endblock %}

{% block content %}

<main>

    <div class="topo-leitores">

        <h1>Detalhes do Leitor</h1>

        <a href="/pagina-leitores">
            <button class="novo-leitor">
                Voltar
            </button>
        </a>

    </div>

    <div class="lista-leitores">

        <div class="leitor">

            <div class="dados">

                <p><strong>Nome:</strong> {{ leitor.nome }}</p>

                <p><strong>Email:</strong> {{ leitor.email }}</p>

            </div>

        </div>

        <h2 style="color:#6d412a; font-weight:normal;">
            Empréstimos
        </h2>

        {% if emprestimos %}

            {% for emprestimo in emprestimos %}

            <div class="leitor">

                <div class="dados">

                    <p>
                        <strong>Livro:</strong>
                        {{ emprestimo.livro }}
                    </p>

                    <p>
                        <strong>Data do empréstimo:</strong>
                        {{ emprestimo.data_emprestimo }}
                    </p>

                    <p>
                        <strong>Data de devolução:</strong>
                        {{ emprestimo.data_devolucao }}
                    </p>

                    <p>
                        <strong>Status:</strong>
                        {{ emprestimo.status }}
                    </p>

                </div>

            </div>

            {% endfor %}

        {% else %}

            <div class="leitor">

                <div class="dados">

                    <p>Esse leitor não possui empréstimos.</p>

                </div>

            </div>

        {% endif %}

    </div>

</main>

{% endblock %}