{% extends "base.html" %}

{% block content %}

<main class="leitor-main">

    <div class="leitor-card">

        <h2>Editar Leitor</h2>

        <form action="/editar-leitor/{{ leitor.id }}" method="post">

            <div class="campo">
                <label>Nome</label>
                <input
                    type="text"
                    name="nome"
                    value="{{ leitor.nome }}">
            </div>

            <div class="campo">
                <label>Email</label>
                <input
                    type="email"
                    name="email"
                    value="{{ leitor.email }}">
            </div>

            <div class="botoes-leitor">
                <button type="submit">Salvar</button>
            </div>

        </form>

    </div>

</main>

{% endblock %}