{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="dashboard">

    <h1>Bem-vinda(o)!</h1>

    <div class="cards">

        <div class="card">
            <h2>Livros Cadastrados</h2>
        
        </div>

        <div class="card">
            <h2>Empréstimos</h2>
    
        </div>

        <div class="card">
            <h2>Usuários</h2>
        
        </div>

    </div>

    <div class="acoes">

        <a href="/cadastro-livro">
            Cadastrar novo livro
        </a>

        <a href="/cadastro">
            Cadastrar usuário
        </a>

    </div>

</section>

{% endblock %}