{% extends "base.html" %}

{% block title %}
Página Inicial
{% endblock %}

{% block content %}

<main>

    <h1>Bem-vinda(o)!</h1>

    <hr>

    <section class="cards">

        <div class="card">
            <img src="{{ url_for('static', path='img/livros.png') }}">
            <p>Livros Cadastrados</p>
        </div>

        <div class="card">
            <img src="{{ url_for('static', path='img/emprestimos.png') }}">
            <p>Empréstimos</p>
        </div>

        <div class="card">
            <img src="{{ url_for('static', path='img/usuarios.png') }}">
            <p>Usuários</p>
        </div>

    </section>

    <hr>

    <section class="botoes">

        <a href="/cadastro-livro">
            <button>Cadastrar novo livro</button>
        </a>

        <a href="/cadastro">
            <button>Cadastrar Usuário</button>
        </a>

    </section>

</main>

{% endblock %}